.idea/
.idea*
.gradle
*.iml
*.ipr
*.iws
build
!app/src/main/webapp/react-validaciones/build
!app/src/main/webapp/bower_components/**/build
classes
common.iml
log/
out/
webapp.iws
gradle-local.properties
node_modules
.DS_Store
data/

.scssc
.sass-cache
